.logo-header{
    width: 130px;
    height: auto;
}
.logo-header svg{
    width: 100%;
    height: auto;
}
.main-menu a{
    padding: 10px;


}
.bt-header{
    float: right;
}
.bt-header a{
    color: #df8716 !important;
    text-decoration: none;
}
.bt-header button {
    border: 2px solid #df8716;
    background: transparent;
    border-radius: 20px;
    padding: 9px 25px;
    color: #df8716;
    font-weight: bold;
    margin-top: 20px;
    cursor: pointer;
    transition: 0.2s all; 
    font-size: 15px;
}

.bt-header button:hover{
    background: #df8716;
    color: #fff !important;
}
