<div>
  <div>
    <div>
      <h3>
        Continue sua jornada como Operadorx de som!
      </h3>
    </div>
  </div>

  <div>
    <div>
      Descubra outras carreiras na música.
    </div>
  </div>
</div>
<div>
  <div>
    <h3>
      Veja quem está precisando de ajuda:
    </h3>
  </div>
  <div>
    <div class="card-pergunta">
      <img>
      <h4>O que é fundamental para promover um evento musical para 500 pessoas?</h4> 
    </div>

    <div class="card-pergunta">
      <img>
      <h4>Qual o investimento médio inicial para produzir música?</h4> 
    </div>

    <div class="card-pergunta">
      <img>
      <h4>Quais as maiores dificuldades encontradas na montagem de equipamento em um bar?</h4> 
    </div>

    <div class="card-pergunta">
      <img>
      <h4>Qual o investimento médio inicial para produzir música?</h4> 
    </div>

  </div>
</div>