.main-container{
    width: 100%;
    min-height: 100%;
    padding: 87px 80px 30px 80px;
}
.card-3-4 {
    width: 65%;
    padding: 20px;
    background: #e7e7e7;
    border-radius: 20px;
    min-height: 200px;
}
.card-3-4 h3{
    color: #df8716;
}
.video-you{
    border-radius: 20px;
}
.video-radius{
    border-radius: 20px;
    overflow: hidden;
    width: 450px;
    height: 300px;
}
